<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Appenders -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.hclim.movein" level="INFO" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="java.sql" level="INFO" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="jdbc.sqlonly" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.audit" level="ERROR" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="jdbc.resultset" level="ERROR" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>
	
</configuration>